name: Property Testings

on:
  schedule:
    - cron: '0 */4 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  property-testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        clarity_version: [1, 2, 3]
    name: Clarity::V${{ matrix.clarity_version }} Property Tests
    env:
      PROPTEST_CASES: 100
    steps:
      - name: Checkout PR
        uses: actions/checkout@v4

      - name: Use Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Run Tests
        run: |
            cargo nextest run \
            --features test-clarity-v${{ matrix.clarity_version }} \
            --test wasm-generation \
            --test standard
